@import 'src/variables';

:host {
  display: flex;
  justify-content: space-evenly;
}

.k-card {
  transition: box-shadow .4s ease; //why isn't this easing out?
  box-shadow: $box-shadow;
  // next 2 lines are to avoid the "popping in" issue
  min-height: 382px;
  img {
    min-height: 200px;
  }
}

// we started defining this here, but once we realized our links needed this everywhere, we popped it up to the global stylesheet
// a {
//   text-decoration: none;
// }

a:hover .k-card {
  box-shadow: $box-shadow-darker;
  transition: box-shadow .4s ease;
}